azure-core==1.16.0
azure-storage-blob==12.8.1
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.1
cryptography==3.4.7
idna==3.2
isodate==0.6.0
mimetypes-magic==0.4.30
msrest==0.6.21
oauthlib==3.1.1
pycparser==2.20
PyJWT==2.8.0
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
typing_extensions==4.5.0
urllib3==1.26.6
